* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:"Kumbh Sans";
    background-color: rgba(25, 161, 174, 1);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    position: relative;
    overflow: hidden;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
}

.left-circle, .right-circle {
    position: absolute;
    width: 978px; 
    height: 978px;
    border-radius: 50%;
    background: linear-gradient(135deg, #0989b4, #53ffff); 
    opacity: 0.5;
}


.left-circle {
    top: -500px;  
    left: -300px;  
    transform: rotate(135deg); 
}


.right-circle {
    bottom: -650px; 
    right: -250px; 
    transform: rotate(135deg);}

main {
width: 350px;
height: 374px;
padding-top:30px;
padding-bottom:30px;
gap: 8px;
position: relative;
background-color: white;
z-index: -1;
border-radius: 15px;
overflow: hidden;
}

.colour {
width: 350px;
height: 150px;
background-image: url(Oval.png);
background-size: cover;
position: absolute;
top:0;
}

.selfie img{
width:100px;
height:100px;
border-radius: 50%;
display: flex;
flex-direction: row;
justify-content: center;
position: absolute;
top:125px;
left:130px;
top:100px;
border: 5px solid white;
}

.description {
width: 200px;
height: 49px;
gap: 8px;
position: absolute;
top: 220px;
left: 120px;
}

.name {
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 125%;
letter-spacing: 0px;
text-align: center;
color: rgba(46, 51, 73, 1);
}

.age {
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 125%;
letter-spacing: 0px;
text-align: center;
color: rgba(107, 112, 130, 1);
}

.city {
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 125%;
letter-spacing: 0px;
text-align: center;
color: rgba(107, 112, 130, 1);
position: absolute;
top:30px;
left:40px;
}

footer {
width: 350px;
height: 69px;
opacity: 1;
display: flex;
flex-direction: row;
justify-content: space-evenly;
position: absolute;
bottom: 5%;
}

.Followers, .Likes, .Photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

footer span:first-child {
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 125%;
letter-spacing: 0px;
text-align: center;
color: rgba(46, 51, 73, 1);
}

footer span:last-child {
font-weight: 400;
font-style: Regular;
font-size: 10px;
line-height: 125%;
letter-spacing: 1.5px;
text-align: center;
color: rgba(46, 51, 73, 1);
}